 --Customer Trends Analysis - SQL Integration

--Using SQLite for lightweight database operations

In [1]:
import pandas as pd
import sqlite3
from datetime import datetime

In [2]:
print("=" * 70)
print("SQL ANALYSIS - Customer Trends Database")
print("=" * 70)

======================================================================
SQL ANALYSIS - Customer Trends Database
======================================================================

In [3]:
print("\nSTEP 1: Creating SQLite Database...")

STEP 1: Creating SQLite Database...

In [5]:
# Load cleaned data
df = pd.read_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\data\processed\processed_data.csv")

In [6]:
# Create SQLite database
conn = sqlite3.connect(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\customer_trends.db")
cursor = conn.cursor()

In [7]:
# Load data into SQL table
df.to_sql('sales', conn, if_exists='replace', index=False)

3725

In [8]:
print("✓ Database created: customer_trends.db")
print(f"✓ Table 'sales' created with {len(df)} rows")

✓ Database created: customer_trends.db
✓ Table 'sales' created with 3725 rows

In [9]:
print("\n" + "=" * 70)
print("QUERY 1: Monthly Revenue Trend")
print("=" * 70)

======================================================================
QUERY 1: Monthly Revenue Trend
======================================================================

In [10]:
query1 = """
SELECT 
    Year,
    Month,
    COUNT(DISTINCT InvoiceNo) as TotalOrders,
    COUNT(DISTINCT CustomerID) as UniqueCustomers,
    SUM(TotalAmount) as MonthlyRevenue,
    AVG(TotalAmount) as AvgTransactionValue
FROM sales
GROUP BY Year, Month
ORDER BY Year, Month
"""

In [11]:
monthly_revenue = pd.read_sql_query(query1, conn)
print(monthly_revenue)

   Year  Month  TotalOrders  UniqueCustomers  MonthlyRevenue  \
0  2010     12          248              179        91039.42

   AvgTransactionValue
0            24.440113

In [13]:
# Save result
monthly_revenue.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_monthly_revenue.csv", index=False)
print(r"\n✓ Results saved to: sql_monthly_revenue.csv")

\n✓ Results saved to: sql_monthly_revenue.csv

In [14]:
print("\n" + "=" * 70)
print("QUERY 2: Top 20 Customers (RFM Analysis)")
print("=" * 70)

======================================================================
QUERY 2: Top 20 Customers (RFM Analysis)
======================================================================

In [15]:
query2 = """
SELECT 
    CustomerID,
    Country,
    COUNT(DISTINCT InvoiceNo) as Frequency,
    SUM(TotalAmount) as MonetaryValue,
    AVG(TotalAmount) as AvgOrderValue,
    MAX(InvoiceDate) as LastPurchaseDate
FROM sales
GROUP BY CustomerID, Country
ORDER BY MonetaryValue DESC
LIMIT 20
"""

In [16]:
top_customers = pd.read_sql_query(query2, conn)
print(top_customers)

    CustomerID         Country  Frequency  MonetaryValue  AvgOrderValue  \
0      15061.0  United Kingdom          6        9407.34     128.867671
1      13777.0  United Kingdom          7        6585.16     199.550303
2      17850.0  United Kingdom         34        5391.21      18.152222
3      16029.0  United Kingdom          3        4271.52     355.960000
4      16210.0  United Kingdom          1        2474.74     176.767143
5      16754.0  United Kingdom          1        2002.40    1001.200000
6      12433.0          Norway          1        1919.14      26.289589
7      15299.0  United Kingdom          3        1835.01     611.670000
8      17511.0  United Kingdom          1        1825.74      76.072500
9      14031.0  United Kingdom          1        1714.25      68.570000
10     13941.0  United Kingdom          1        1095.12      99.556364
11     16244.0  United Kingdom          1        1056.63      16.771905
12     17381.0  United Kingdom          2        1036.08     172.680000
13     13408.0  United Kingdom          1        1024.68      93.152727
14     15485.0  United Kingdom          1         950.09      41.308261
15     17017.0  United Kingdom          2         877.32      38.144348
16     12583.0          France          1         855.86      42.793000
17     13694.0  United Kingdom          1         842.12     140.353333
18     13767.0  United Kingdom          2         830.68      46.148889
19     13093.0  United Kingdom          1         799.40      61.492308

       LastPurchaseDate
0   2010-12-02 15:28:00
1   2010-12-01 16:22:00
2   2010-12-02 15:27:00
3   2010-12-02 17:40:00
4   2010-12-01 12:27:00
5   2010-12-02 17:38:00
6   2010-12-01 13:24:00
7   2010-12-02 16:51:00
8   2010-12-01 10:19:00
9   2010-12-02 16:34:00
10  2010-12-02 10:17:00
11  2010-12-02 11:41:00
12  2010-12-02 12:59:00
13  2010-12-01 10:39:00
14  2010-12-01 13:23:00
15  2010-12-02 10:18:00
16  2010-12-01 08:45:00
17  2010-12-01 12:12:00
18  2010-12-02 15:40:00
19  2010-12-01 15:00:00

In [19]:
top_customers.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_top_customers.csv" , index=False)
print("\n✓ Results saved to: sql_top_customers.csv")

✓ Results saved to: sql_top_customers.csv

In [20]:
print("\n" + "=" * 70)
print("QUERY 3: Top 15 Products by Revenue")
print("=" * 70)

======================================================================
QUERY 3: Top 15 Products by Revenue
======================================================================

In [21]:
query3 = """
SELECT 
    Description as ProductName,
    StockCode,
    COUNT(DISTINCT InvoiceNo) as TimesOrdered,
    SUM(Quantity) as TotalQuantitySold,
    SUM(TotalAmount) as TotalRevenue,
    ROUND(AVG(UnitPrice), 2) as AvgPrice
FROM sales
GROUP BY Description, StockCode
ORDER BY TotalRevenue DESC
LIMIT 15
"""

In [22]:
top_products = pd.read_sql_query(query3, conn)
print(top_products)

                            ProductName StockCode  TimesOrdered  \
0              REGENCY CAKESTAND 3 TIER     22423            18
1        RED WOOLLY HOTTIE WHITE HEART.    84029E            28
2              BLACK RECORD COVER FRAME     21137             4
3    WHITE HANGING HEART T-LIGHT HOLDER    85123A            33
4          SET 7 BABUSHKA NESTING BOXES     22752            25
5                RED  HARMONICA IN BOX      21915             7
6                         CHILLI LIGHTS     79321             8
7               JUMBO BAG RED RETROSPOT    85099B            15
8        ASSORTED COLOUR T-LIGHT HOLDER     84950             1
9         ASSORTED COLOUR BIRD ORNAMENT     84879            15
10      PAPER CHAIN KIT 50'S CHRISTMAS      22086            18
11      SET OF 3 COLOURED  FLYING DUCKS    35004C             4
12  ROTATING SILVER ANGELS T-LIGHT HLDR     84347            10
13        HAND WARMER SCOTTY DOG DESIGN     22866            21
14        FAIRY TALE COTTAGE NIGHTLIGHT     22466             5

    TotalQuantitySold  TotalRevenue  AvgPrice
0                 211       2373.45     12.45
1                 684       2117.64      3.45
2                 613       2078.43      3.48
3                 748       1945.00      2.68
4                 239       1853.00      7.89
5                1544       1664.00      1.22
6                 328       1322.64      4.46
7                 602       1023.90      1.86
8                1824       1003.20      0.55
9                 615        962.55      1.68
10                348        930.60      2.86
11                177        830.25      5.05
12                415        817.05      2.44
13                362        736.20      2.09
14                486        731.70      1.85

In [23]:
top_products.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_top_products.csv", index=False)
print("\n✓ Results saved to: sql_top_products.csv")

✓ Results saved to: sql_top_products.csv

In [24]:
print("\n" + "=" * 70)
print("QUERY 4: Sales Performance by Country")
print("=" * 70)

======================================================================
QUERY 4: Sales Performance by Country
======================================================================

In [25]:
query4 = """
SELECT 
    Country,
    COUNT(DISTINCT CustomerID) as TotalCustomers,
    COUNT(DISTINCT InvoiceNo) as TotalOrders,
    SUM(TotalAmount) as TotalRevenue,
    ROUND(AVG(TotalAmount), 2) as AvgOrderValue,
    SUM(Quantity) as TotalItemsSold
FROM sales
GROUP BY Country
ORDER BY TotalRevenue DESC
LIMIT 10
"""

In [26]:
country_performance = pd.read_sql_query(query4, conn)
print(country_performance)

          Country  TotalCustomers  TotalOrders  TotalRevenue  AvgOrderValue  \
0  United Kingdom             173          240      86874.21          24.27
1          Norway               1            1       1919.14          26.29
2          France               1            1        855.86          42.79
3            EIRE               1            3        577.88          26.27
4       Australia               1            1        358.25          25.59
5         Germany               1            1        261.48          17.43
6     Netherlands               1            1        192.60          96.30

   TotalItemsSold
0           50538
1            1852
2             449
3             249
4             107
5             157
6              97

In [28]:
country_performance.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_country_performance.csv", index=False)
print("\n✓ Results saved to: sql_country_performance.csv")

✓ Results saved to: sql_country_performance.csv

In [29]:
print("\n" + "=" * 70)
print("QUERY 5: Sales Pattern by Hour of Day")
print("=" * 70)

======================================================================
QUERY 5: Sales Pattern by Hour of Day
======================================================================

In [30]:
query5 = """
SELECT 
    Hour,
    COUNT(DISTINCT InvoiceNo) as NumberOfOrders,
    SUM(TotalAmount) as HourlyRevenue,
    ROUND(AVG(TotalAmount), 2) as AvgTransactionValue
FROM sales
GROUP BY Hour
ORDER BY Hour
"""

In [31]:
hourly_pattern = pd.read_sql_query(query5, conn)
print(hourly_pattern)

    Hour  NumberOfOrders  HourlyRevenue  AvgTransactionValue
0      7               2         467.00                46.70
1      8              12        2300.74                23.48
2      9              24        8662.70                36.71
3     10              26       10791.80                34.26
4     11              22        7431.71                12.04
5     12              41       12221.60                19.84
6     13              24        7657.32                15.04
7     14              19        5868.45                15.99
8     15              35       16751.23                32.09
9     16              28       13701.75                47.74
10    17              13        4733.57                34.55
11    18               2         451.55                41.05

In [33]:
hourly_pattern.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_hourly_pattern.csv", index=False)
print("\n✓ Results saved to: sql_hourly_pattern.csv")

✓ Results saved to: sql_hourly_pattern.csv

In [34]:
print("\n" + "=" * 70)
print("QUERY 6: Sales by Day of Week")
print("=" * 70)

======================================================================
QUERY 6: Sales by Day of Week
======================================================================

In [35]:
query6 = """
SELECT 
    DayOfWeek,
    COUNT(DISTINCT InvoiceNo) as TotalOrders,
    SUM(TotalAmount) as DailyRevenue,
    ROUND(AVG(TotalAmount), 2) as AvgOrderValue
FROM sales
GROUP BY DayOfWeek
ORDER BY 
    CASE DayOfWeek
        WHEN 'Monday' THEN 1
        WHEN 'Tuesday' THEN 2
        WHEN 'Wednesday' THEN 3
        WHEN 'Thursday' THEN 4
        WHEN 'Friday' THEN 5
        WHEN 'Saturday' THEN 6
        WHEN 'Sunday' THEN 7
    END
"""

In [36]:
day_analysis = pd.read_sql_query(query6, conn)
print(day_analysis)

   DayOfWeek  TotalOrders  DailyRevenue  AvgOrderValue
0  Wednesday          121      46376.49          23.88
1   Thursday          127      44662.93          25.05

In [37]:
day_analysis.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_day_analysis.csv", index=False)
print("\n✓ Results saved to: sql_day_analysis.csv")

✓ Results saved to: sql_day_analysis.csv

In [38]:
print("\n" + "=" * 70)
print("QUERY 7: Customer Segmentation")
print("=" * 70)

======================================================================
QUERY 7: Customer Segmentation
======================================================================

In [39]:
query7 = """
SELECT 
    CASE 
        WHEN PurchaseCount >= 10 THEN 'High Frequency'
        WHEN PurchaseCount >= 5 THEN 'Medium Frequency'
        ELSE 'Low Frequency'
    END as CustomerSegment,
    COUNT(CustomerID) as NumberOfCustomers,
    ROUND(AVG(TotalSpent), 2) as AvgSpending,
    ROUND(SUM(TotalSpent), 2) as SegmentRevenue
FROM (
    SELECT 
        CustomerID,
        COUNT(DISTINCT InvoiceNo) as PurchaseCount,
        SUM(TotalAmount) as TotalSpent
    FROM sales
    GROUP BY CustomerID
)
GROUP BY CustomerSegment
ORDER BY SegmentRevenue DESC
"""

In [40]:
customer_segments = pd.read_sql_query(query7, conn)
print(customer_segments)

    CustomerSegment  NumberOfCustomers  AvgSpending  SegmentRevenue
0     Low Frequency                176       395.77        69655.71
1  Medium Frequency                  2      7996.25        15992.50
2    High Frequency                  1      5391.21         5391.21

In [45]:
customer_segments.to_csv(r"C:\Users\aashi\OneDrive\Desktop\customer_trends_analysis\sql\sql_customer_segments.csv", index=False)
print("\n✓ Results saved to: sql_customer_segments.csv")

✓ Results saved to: sql_customer_segments.csv

In [46]:
print("\n" + "=" * 60)
print("CLOSE DATABASE CONNECTION")
print("=" * 60)

============================================================
CLOSE DATABASE CONNECTION
============================================================

In [42]:
conn.close()

In [44]:
print("\n" + "=" * 70)
print("SQL ANALYSIS COMPLETE!")
print("=" * 70)
print("\nAll query results saved in: ../data/sql/")
print("\nDatabase file: customer_trends.db")
print("\nYou can now use these CSV files in Power BI for visualization!")

======================================================================
SQL ANALYSIS COMPLETE!
======================================================================

All query results saved in: ../data/sql/

Database file: customer_trends.db

You can now use these CSV files in Power BI for visualization!